<div class="grid grid-4col">
  <div class="grid-item mce-border" tabindex="0"></div>
  <div class="grid-item mce-border" tabindex="0"></div>
  <div class="grid-item mce-border" tabindex="0"></div>
  <div class="grid-item mce-border" tabindex="0"></div>
</div>
<p></p>